## *This is a Markdown cell*

In [ ]:
# Code cell python
import numpy as np
import pandas as pd
import os

In [2]:
print("Hello World")

Hello World

In [ ]:
array = np.asarray([1,2,3])
array

array([1, 2, 3])

In [ ]:
data = {
    "ID": [1, 2, 3, 4, 5],
    "Name": ['A', 'B', 'C', 'D', 'E'],
    "Job": ['BA', 'DA', 'DE', 'MN', 'DC']
}
df = pd.DataFrame(data)
df.head()

   ID Name Job
0   1    A  BA
1   2    B  DA
2   3    C  DE
3   4    D  MN
4   5    E  DC

In [9]:
save_dir = os.getenv("OUTPUT_DIR")
save_path = os.path.join(save_dir, "test_data.csv")

TypeError: expected str, bytes or os.PathLike object, not NoneType

In [ ]:
df.to_csv(save_path, index=False)